# -----------------
# Global
# -----------------
.DS_Store
*.code-workspace
*.env
*.ipynb
*.log
*.pyc
*.txt

# -----------------
# Backend (Python)
# -----------------
**/__pycache__/
**/.idea/
**/.log
**/.venv/
**/.vscode/
**/*.egg-info/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/
**/dist/
**/build/

# -----------------
# Docker
# -----------------
*.pid
*.sock
docker-compose.override.yml
