# -----------------
# Global
# -----------------
.DS_Store
*.
*.code-workspace
*.env
*.ipynb
*.log
*.pyc
*.txt

# -----------------
# Backend (Python)
# -----------------
**/__pycache__/
**/.claude/
**/.idea/
**/.log
**/.venv/
**/.vscode/
**/*.egg-info/
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/*.egg-info/
**/dist/
**/build/

# -----------------
# Docker
# -----------------
*.pid
*.sock
.translator-version
docker-compose.override.yml

# -----------------
# Files
# -----------------
*.bundle
*.sh
*.tar.gz

# -----------------
# Exceptions
# -----------------
!scripts/bundle_images.sh